# Ignore vscode settings
.vscode/

# Ignore binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# MacOS
.DS_Store
*.DS_Store

# Database
*.db
*.sqlite
*.sqlite3

# Log files
*.log

# Environment
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
